body{
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

a{
	color : black;
	text-decoration: none;
}

.content{
    padding: 50px;
    padding-bottom: 3%;
}

#demarcheContent, #divers{
	display : flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
	margin-bottom: 20px;
}
#divers{
	justify-content: space-evenly;
}
#demarcheContent > div.divDemarche > img{
	width: 102px;
	margin-bottom: 20px;
}
#divers img{
	width : 25px;
	margin-right: 20px;
}
#requete1, #requete2{
	display : flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
	margin-bottom: 20px;
}
.divDemarche, #contact, #faq{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1%;margin-right: 1%;
	margin-bottom: 20px;
}
#contact, #faq{
	margin-bottom: 25px;
}
#excel{
	width: 450px;
	height: 380px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.divDemarche{
	padding-bottom: 5%;
	/* padding-bottom: 10px; */
}
.underline-02{
	align-self: flex-start;
}
#faq >p{
    display: flex;
    flex-direction: column;
	margin-bottom: 20px;
}
#faq > p > a{
    padding: 5px 0px 5px 0px;
	margin-bottom: 20px;
}
#requete1 img,#requete2 img{
	width: 400px;
	margin: 1%;
	margin-bottom: 20px;
}

h3{
	border-bottom: solid 5px;
	border-color: #817b7a80;
	margin-bottom: 20px;
	margin-top: 20px;
}

p, h1{
	margin-bottom: 5px;
}

.pasDInspi{
	margin-bottom: 40px;
}
.stop-scrolling{
	height: 100%;
	overflow: hidden;
}